---
layout: default
---
<br></br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing:border-box}

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/*@media only screen and (max-width: 300px) {*/
/*  .text {font-size: 11px}*/
/*}*/
</style>
<body>
  
<div class="slideshow-container">

<div class="mySlides fade">
  <img src="FFullSizeRender-1.jpg" style="width:100%">
  <!--<div class="text">Caption Text</div>-->
</div>

<div class="mySlides fade">
  <img src="FIMG_0820.jpg" style="width:100%">
  <!--<div class="text">Caption Two</div>-->
</div>

<div class="mySlides fade">
  <img src="FIMG_1020.jpg" style="width:100%">
  <!--<div class="text">Caption Three</div>-->
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 4000); // Change image every 4 seconds
}
</script>

<!--Used a tutorial to learn how to make this-->

</body>

<div class="home">

  {% for post in site.posts%}
  {% if post.assignment == 'true' %}
  <div class="post postContent">
    <div  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
    </div>
    <div class="postDay">
      {{post.tag}}
    </div>
    <br>
    <div class="postTitle">
    <a class='postLink' href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    </div>
    <div class="postExt">
   {{ post.content | strip_html | truncatewords:20}}
    </div>
  </div>

{% endif %}
  {% endfor %}
  <!--<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta-main">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link-main" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>-->



</div>